Automated-Real-Estate-Content-Generation-Workflow .json
{
  "name": "Automated-Real-Estate-Content-Generation-Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Ideation Prompt Board",
        "formDescription": "Store and manage ideas for creative prompts.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Employee Id",
              "requiredField": true
            },
            {
              "fieldLabel": "Employee Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Initial Prompt",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Mail Id",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        176,
        -48
      ],
      "id": "54b6990a-eb51-4cbe-9081-17849d83b61d",
      "name": "On form submission",
      "webhookId": "6841d901-786c-4c40-861d-433dc9745c9b"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NEtQvs2hlcqmrFfSC6e1cReC25g2FEvxTiqdXOgtnjM",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NEtQvs2hlcqmrFfSC6e1cReC25g2FEvxTiqdXOgtnjM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NEtQvs2hlcqmrFfSC6e1cReC25g2FEvxTiqdXOgtnjM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Employee Id": "={{ $json['Employee Id'] }}",
            "Employee Name": "={{ $json['Employee Name'] }}",
            "Initial Prompt": "={{ $json['Initial Prompt'] }}",
            "Mail Id": "={{ $json['Your Mail Id'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Employee Id",
              "displayName": "Employee Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Initial Prompt",
              "displayName": "Initial Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Improved Prompt",
              "displayName": "Improved Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Generated Link",
              "displayName": "Image Generated Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mail Id",
              "displayName": "Mail Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -48
      ],
      "id": "4c1690bc-1801-409a-987b-bc6ccbd005b4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mAQcaPLUUl8WFD1j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Initial Prompt'] }}\n\n",
        "options": {
          "systemMessage": "You are RealEstatePromptRefiner, an AI assistant that converts simple user ideas into high-quality, photorealistic real estate image prompts optimized for DALL·E.\n\nYour goal is to always generate prompts that produce ultra-realistic property images suitable for listings, brochures, and marketing.\n\n🔹 Instructions:\n\nUnderstand the user input and extract:\n\nProperty type (apartment, villa, studio, office, etc.)\n\nScene type (interior/exterior + room type)\n\nStyle (modern, luxury, minimal, industrial, etc.)\n\nLighting (daylight, golden hour, artificial warm lighting)\n\nPerspective (wide-angle, eye-level, aerial, etc.)\n\nKey features (balcony, pool, fireplace, skyline view, etc.)\n\nApply smart defaults if missing:\n\nInteriors → bright natural daylight, wide-angle (24mm feel), clean staging\n\nExteriors → golden hour or soft daylight\n\nStyle → modern, minimal, premium\n\nPerspective → eye-level, professional real estate photography\n\nGenerate a single refined DALL·E prompt that:\n\nIs written in natural descriptive language (not keywords only)\n\nEmphasizes photorealism\n\nIncludes:\n\nlighting\n\nmaterials & textures\n\ncomposition\n\ncamera feel (wide-angle, depth of field)\n\nstaging details\n\nAvoids mentioning camera brands or complex parameters\n\nAvoids unsafe or copyrighted elements\n\nAlso generate:\n\nshort_caption (1-line summary)\n\nvariants (3 alternative prompts with different moods/perspectives)\n\nImportant Rules:\n\nDo NOT include technical parameters like --ar, steps, etc.\n\nDo NOT output negative prompts (DALL·E doesn’t require them explicitly)\n\nAvoid people unless explicitly requested\n\nAlways prioritize realism over artistic or fantasy styles"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        -48
      ],
      "id": "c07e5e61-00ce-44b0-8578-61a3c3950bae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NEtQvs2hlcqmrFfSC6e1cReC25g2FEvxTiqdXOgtnjM",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NEtQvs2hlcqmrFfSC6e1cReC25g2FEvxTiqdXOgtnjM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NEtQvs2hlcqmrFfSC6e1cReC25g2FEvxTiqdXOgtnjM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Improved Prompt": "={{ $json.output }}",
            "Initial Prompt": "={{ $('Append row in sheet').item.json['Initial Prompt'] }}"
          },
          "matchingColumns": [
            "Initial Prompt"
          ],
          "schema": [
            {
              "id": "Employee Id",
              "displayName": "Employee Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Initial Prompt",
              "displayName": "Initial Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Improved Prompt",
              "displayName": "Improved Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image Generated Link",
              "displayName": "Image Generated Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mail Id",
              "displayName": "Mail Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Initial Prompt",
              "displayName": "Video Initial Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Improved Video Prompt",
              "displayName": "Improved Video Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Generated Link",
              "displayName": "Video Generated Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        -48
      ],
      "id": "31a144e0-3b78-4892-9139-620fb1096c16",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mAQcaPLUUl8WFD1j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1EaqK8qDrMlHbd0qbzrVFl88FBM8LlzSl",
          "mode": "list",
          "cachedResultName": "Ritz Media",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1EaqK8qDrMlHbd0qbzrVFl88FBM8LlzSl"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1424,
        -48
      ],
      "id": "7b5effd8-82ce-4a2b-9c23-cc29c6c6aae9",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N9lgEKfNh0EXdgUO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NEtQvs2hlcqmrFfSC6e1cReC25g2FEvxTiqdXOgtnjM",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NEtQvs2hlcqmrFfSC6e1cReC25g2FEvxTiqdXOgtnjM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NEtQvs2hlcqmrFfSC6e1cReC25g2FEvxTiqdXOgtnjM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Initial Prompt": "={{ $('Append row in sheet').item.json['Initial Prompt'] }}",
            "Image Generated Link": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [
            "Initial Prompt"
          ],
          "schema": [
            {
              "id": "Employee Id",
              "displayName": "Employee Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Initial Prompt",
              "displayName": "Initial Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Improved Prompt",
              "displayName": "Improved Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Generated Link",
              "displayName": "Image Generated Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        -48
      ],
      "id": "8ee11e74-8a00-486a-9b61-30174b082e8d",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mAQcaPLUUl8WFD1j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $('On form submission').item.json['Your Mail Id'] }}",
        "subject": "Approval for Image generated",
        "message": "=Image prompt: {{ $('Append or update row in sheet').item.json['Improved Prompt'] }}\n\nLink: {{ $('Upload file').item.json.webViewLink }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2320,
        -48
      ],
      "id": "7efb7372-9d60-40f9-8da9-e695d14827d4",
      "name": "Send message and wait for response",
      "webhookId": "4ec29bb7-e1e2-41dd-9606-f44f72b77a3f",
      "credentials": {
        "gmailOAuth2": {
          "id": "VTJzxidDBcNKtWh1",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6096f72b-34cf-4add-9e07-b2a9489dd7cf"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a4ab0696-4d44-486d-ba8a-3731f55ea2bb",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2544,
        -48
      ],
      "id": "1ea600d5-912f-4b4f-8886-cb22616c0d1f",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Your Mail Id'] }}",
        "subject": "Failed the Image Test",
        "message": "Please work on prompt again and generate a new image",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2736,
        64
      ],
      "id": "194ada00-f234-4602-803a-d1263b376508",
      "name": "Send a message",
      "webhookId": "06f666df-e629-45a9-a947-383e33a4b923",
      "credentials": {
        "gmailOAuth2": {
          "id": "Nr9CJxeie122bJtH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt for video generation ",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        3008,
        -64
      ],
      "id": "8a1588a5-b5d2-48bd-83c6-0f404a896a41",
      "name": "Form",
      "webhookId": "fe6e1224-96ae-4152-af94-02d16a18f051"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Enhance and optimize the following prompt for clarity, engagement, and effectiveness: {{ $json['Prompt for video generation '] }} . Just provide the enhanced prompt\n\n",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3248,
        -64
      ],
      "id": "4e718778-2efd-498a-92f3-cd9b720fce27",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NEtQvs2hlcqmrFfSC6e1cReC25g2FEvxTiqdXOgtnjM",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NEtQvs2hlcqmrFfSC6e1cReC25g2FEvxTiqdXOgtnjM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NEtQvs2hlcqmrFfSC6e1cReC25g2FEvxTiqdXOgtnjM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Initial Prompt": "={{ $('Append row in sheet').item.json['Initial Prompt'] }}",
            "Video Generated Link": "={{ $('Upload file1').item.json.webContentLink }}",
            "Improved Video Prompt": "={{ $('AI Agent1').item.json.output }}",
            "Video Initial Prompt": "={{ $('Form').item.json['Prompt for video generation '] }}"
          },
          "matchingColumns": [
            "Initial Prompt"
          ],
          "schema": [
            {
              "id": "Employee Id",
              "displayName": "Employee Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee Name",
              "displayName": "Employee Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Initial Prompt",
              "displayName": "Initial Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Improved Prompt",
              "displayName": "Improved Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Generated Link",
              "displayName": "Image Generated Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mail Id",
              "displayName": "Mail Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Initial Prompt",
              "displayName": "Video Initial Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Improved Video Prompt",
              "displayName": "Improved Video Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Generated Link",
              "displayName": "Video Generated Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4672,
        -64
      ],
      "id": "9f73b0bd-c6c1-4070-a206-50e37dd5caa0",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mAQcaPLUUl8WFD1j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload file').item.json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2096,
        -48
      ],
      "id": "97b558ad-393d-453e-ba98-5cbef9ea71f0",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N9lgEKfNh0EXdgUO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1872,
        -48
      ],
      "id": "aa4bbf36-08ea-4bc0-945c-57303ed84e69",
      "name": "Wait",
      "webhookId": "5e9a8bbc-2a4e-4984-8dd1-351e9c775eb2"
    },
    {
      "parameters": {
        "content": "# 🏡 Automated Real-Estate Content Generation Workflow\n\nThis n8n workflow automates turning short user ideas into production-ready real-estate marketing assets (photorealistic images and optional 360° videos). A form submission seeds a prompt board → an LLM refines prompts → the refined prompt is sent to an image/video generator → assets are uploaded to Google Drive and an approval email is sent so stakeholders can accept/reject outputs.\n\n---\n\n## ⚙️ How It Works (High Level)\n\n1. **Trigger:**  \n   User submits the ideation form (`On form submission`).\n\n2. **Record:**  \n   The raw idea is appended to Google Sheets (`Append row in sheet`).\n\n3. **Refine:**  \n   An AI agent (LangChain/OpenAI) refines the prompt into a photorealistic prompt and produces captions & variants (`AI Agent`).\n\n4. **Store Refined Prompt:**  \n   Update the sheet with the improved prompt (`Append or update row in sheet`).\n\n5. **Generate Asset:**  \n   Send improved prompt to OpenAI image/video generation nodes (`Generate an image2` / `Generate a video`).\n\n6. **Upload & Share:**  \n   Upload resulting files to Google Drive (`Upload file / Upload file1`) and set sharing permissions (`Share file / Share file1`).\n\n7. **Approval Flow:**  \n   Email the requester with the asset + improved prompt and wait for approval (`Send message and wait for response`).\n\n8. **Decision:**  \n   A `Switch` node routes approved outputs to final storage/notifications and rejected ones back for rework (or sends a failure email).\n\n9. **Video Branch:**  \n   Separate flow → refine → HTTP → video generator → upload → share → update sheet (parallel video pipeline).\n\n---\n\n## Quick Setup Guide\n👉 [Demo & Setup Video](https://drive.google.com/file/d/1a1n-XZIJkKsmBDjdNsG6Vg_AKv8AJxe5/view?usp=sharing)\n👉 [Sheet Template](https://docs.google.com/spreadsheets/d/1NEtQvs2hlcqmrFfSC6e1cReC25g2FEvxTiqdXOgtnjM/edit?usp=sharing)\n👉 [Course](https://www.udemy.com/course/n8n-automation-mastery-build-ai-powered-enterprise-ready/?referralCode=2EAE71591D3BEB80F2CC)",
        "height": 1376,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -144
      ],
      "typeVersion": 1,
      "id": "db3e263f-3e9b-4a71-aee6-79471be33dcb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        672,
        160
      ],
      "id": "d85ad014-baab-477a-bf26-71a1402e4486",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Lmli5jh4IUH1taP6",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json['Improved Prompt'] }}",
        "options": {
          "size": "1792x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1200,
        -48
      ],
      "id": "777c5995-6b27-46a5-8197-2fedd20744a5",
      "name": "Generate an image2",
      "credentials": {
        "openAiApi": {
          "id": "Lmli5jh4IUH1taP6",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3248,
        112
      ],
      "id": "cdb6fc96-067d-4bbc-a1bc-29c68e5fbdce",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Lmli5jh4IUH1taP6",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Upload file').item.json.webContentLink }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3600,
        -64
      ],
      "id": "9a60bceb-fecc-40c4-80b4-4fe49b9accd7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "sora-2-pro",
          "mode": "list",
          "cachedResultName": "SORA-2-PRO"
        },
        "prompt": "={{ $('AI Agent1').item.json.output }}",
        "size": "1792x1024",
        "options": {
          "binaryPropertyNameReference": "data",
          "waitTime": 7200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        3808,
        -64
      ],
      "id": "1fa2f30b-187d-4d94-b782-8771b6822279",
      "name": "Generate a video",
      "credentials": {
        "openAiApi": {
          "id": "Lmli5jh4IUH1taP6",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1EaqK8qDrMlHbd0qbzrVFl88FBM8LlzSl",
          "mode": "list",
          "cachedResultName": "Ritz Media",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1EaqK8qDrMlHbd0qbzrVFl88FBM8LlzSl"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4032,
        -64
      ],
      "id": "cf3231ed-daa7-4c9a-8388-ea75fbd38e12",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N9lgEKfNh0EXdgUO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload file1').item.json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4448,
        -64
      ],
      "id": "c92537d3-644a-483e-b5f5-73fa00dd7fed",
      "name": "Share file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N9lgEKfNh0EXdgUO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4224,
        -64
      ],
      "id": "87e66d06-f843-4e65-aabe-81d99ca2a07f",
      "name": "Wait1",
      "webhookId": "5e9a8bbc-2a4e-4984-8dd1-351e9c775eb2"
    },
    {
      "parameters": {
        "content": "**Idea Capture**  \nCollect user idea + brief fields (style, property type, desired output).  \n",
        "height": 256,
        "width": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        -144
      ],
      "typeVersion": 1,
      "id": "a2685578-7f92-45cc-8e38-77e1d3d236ab",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "**Record / Log**  \nSave raw idea + metadata (user, timestamp) to Google Sheets for audit.   \n",
        "height": 256,
        "width": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -144
      ],
      "typeVersion": 1,
      "id": "1629ba46-55db-4c86-a8b0-c5d13655d960",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**Prompt Refinement (AI Agent)**  \nLLM converts raw idea → photorealistic prompt + captions + variants.  \n\n",
        "height": 448,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        -144
      ],
      "typeVersion": 1,
      "id": "40843e75-471f-416f-8fb3-671af0ce4564",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**Store Refined Prompt**  \nWrite back refined prompt and model metadata to the sheet. \n",
        "height": 272,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        -144
      ],
      "typeVersion": 1,
      "id": "8426b6f6-0981-4702-8d71-66a7deebf342",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "**Asset Generation**  \nSend refined prompt to image/video generator and receive files/URLs.  \n",
        "height": 272,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        -144
      ],
      "typeVersion": 1,
      "id": "3f142344-b014-4e4e-8090-e94c1ff97f71",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "**Upload & Share**  \nUpload assets to Google Drive and create view-only share links for reviewers.\n",
        "height": 272,
        "width": 816,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        -144
      ],
      "typeVersion": 1,
      "id": "e6c03e25-2621-486e-88fe-2d5a90f15c75",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "**Approval Flow**  \nEmail the requester with asset + prompt; wait for approval or rejection. ",
        "height": 272,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2224,
        -144
      ],
      "typeVersion": 1,
      "id": "d0684bb2-e816-4dff-b0bc-789ada37e1ec",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "**Decision & Routing**  \nRoute based on approval — approved → final storage/notifications; rejected → failure email.",
        "height": 384,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        -144
      ],
      "typeVersion": 1,
      "id": "52d232fd-cb5d-4671-9150-9fdb66b39618",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "**Video Branch (Parallel)**  \nFaster or separate form flow for 360°/sora-2-pro video generation, then upload & share.  ",
        "height": 384,
        "width": 1056,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2912,
        -144
      ],
      "typeVersion": 1,
      "id": "b9ca1837-51ff-4684-a285-01c2ff085b08",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "**Upload & Share**  \nUpload assets to Google Drive and create view-only share links for reviewers.\n",
        "height": 272,
        "width": 624,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3968,
        -144
      ],
      "typeVersion": 1,
      "id": "272541bd-f616-47b3-bf16-b8f4168340ed",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "**Store Video Data**  \n\n",
        "height": 272,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4592,
        -144
      ],
      "typeVersion": 1,
      "id": "e34da2c8-4271-4502-bd23-c1345262eed5",
      "name": "Sticky Note11"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Generate an image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image2": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Generate a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a video": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Share file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c755ed0d-28f4-4d1b-9214-0a191e49f7e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4764540811cbb8d2e1efff249fe019f120efdfc1d1ad5d0e40382bf91ca0b3dc"
  },
  "id": "fmWdi1vT5gnL7MSe",
  "tags": []
}